# general statistics table config
table_columns_visible:
    QualiMap:
        1_x_pc: False
        5_x_pc: False
        10_x_pc: False
        20_x_pc: False
        50_x_pc: False
        60_x_pc: False
        100_x_pc: False
        200_x_pc: False

    "Bcftools Stats":
        number_of_SNPs: False
        number_of_indels: False

    Samtools:
        non-primary_alignments: False
        reads_mapped: False
        reads_mapped_percent: False
        raw_total_sequences: False

    "FastQC (raw)": False

# order of modules to show in report
module_order:
    - cgds_qc_checkup
    - qualimap
    - picard
    - samtools
    - bcftools
    - fastqc:
          name: "FastQC (trimmed)"
          anchor: "trimmed"
          info: "This section of the report shows FastQC results after adapter trimming."
          target: ""
          path_filters:
              - "*/qc/fastqc-trimmed/*_fastqc.zip"
    - fastqc:
          name: "FastQC (raw)"
          anchor: "raw"
          path_filters:
              - "*/qc/fastqc-raw/*_fastqc.zip"
    - fastq_screen:
          name: "FastQ Screen (trimmed)"
          path_filters:
              - "*/qc/fastq_screen-trimmed/*"

# qualimap related
qualimap_config:
    general_stats_coverage:
        - 1
        - 5
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        - 60
        - 100
        - 200

# configs for CGDS QC check-ups
# NOTE: This multiqc config file has hard-coded parameters, which is based on the QC-checkup config file.
# If parameters in QC-checkup config file get modified, this file may need to be edited correspondingly.
custom_data:
    qc_checkup_overall_summary:
        parent_id: "cgds_qc_checkup"
        parent_name: "CGDS - QC checkup"
        parent_description: "This section contains CGDS's QC checking results (Might not work well for WES)."
        id: "qc_checkup_overall_summary"
        section_name: "Overall QC checkup summary"
        description: "Overall QC checkup summary of results from several QC tools"
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "Overall QC checkup summary"

    qc_checkup_fastqc:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_fastqc"
        section_name: "FastQC (trimmed)"
        description: 'Quick summary of FastQC (trimmed) results. See <a href="#trimmed">FastQC</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "FastQC - QC checkup"

    qc_checkup_fastq_screen:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_fastq_screen"
        section_name: "FastQ Screen (trimmed)"
        description: 'Quick summary of FastQ Screen (trimmed) results. See <a href="#fastq_screen-1">FastQ Screen</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "FastQ Screen - QC checkup"
            only_defined_headers: False
            scale: "Blues"
        headers:
            "%Human":
                placement: 900
            "%Mouse":
                placement: 920
            "%Rat":
                placement: 940
            "%No hits":
                placement: 960
            "%Human_val":
                min: {{ fastq_screen_human_min }}
                max: {{ fastq_screen_human_max }}
                hidden: True
                placement: 910
            "%Mouse_val":
                min: {{ fastq_screen_mouse_min }}
                max: {{ fastq_screen_mouse_max }}
                hidden: True
                placement: 930
            "%Rat_val":
                min: {{ fastq_screen_rat_min }}
                max: {{ fastq_screen_rat_max }}
                hidden: True
                placement: 950
            "%Drosophila_val":
                min: {{ fastq_screen_drosophila_min }}
                max: {{ fastq_screen_drosophila_max }}
                hidden: True
            "%Arabidopsis_val":
                min: {{ fastq_screen_arabidopsis_min }}
                max: {{ fastq_screen_arabidopsis_max }}
                hidden: True
            "%No hits_val":
                min: {{ fastq_screen_nohits_min }}
                max: {{ fastq_screen_nohits_max }}
                hidden: True
                placement: 970
            "%Adapters_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%Ecoli_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%Lambda_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%MT_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%PhiX_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%Vectors_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%Worm_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%Yeast_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True
            "%rRNA_val":
                min: {{ fastq_screen_others_min }}
                max: {{ fastq_screen_others_max }}
                hidden: True

    qc_checkup_qualimap_overall:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_qualimap_overall"
        section_name: "Qualimap - Overall stats"
        description: 'Quick summary of Qualimap results. See <a href="#qualimap">QualiMap</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "Qualimap - Overall stats - QC checkup"
            only_defined_headers: False
            scale: "Blues"
        headers:
            avg_gc_val:
                min: {{ qualimap_avg_gc_min }}
                max: {{ qualimap_avg_gc_max }}
                hidden: True
            # if you change coverage limits, also change values in "qc_checkup_qualimap_chromosome_stats"
            mean_coverage_val:
                min: {{ qualimap_mean_coverage_min }}
                hidden: True
            median_coverage_val:
                min: {{ qualimap_median_coverage_min }}
                hidden: True
            percentage_aligned_val:
                min: {{ qualimap_percentage_aligned_min }}
                max: {{ qualimap_percentage_aligned_max }}
                hidden: True
            "mean_cov:median_cov_val":
                min: {{ qualimap_mean_median_coverage_ratio_min }}
                max: {{ qualimap_mean_median_coverage_ratio_max }}
                hidden: True
            median_insert_size_val:
                min: {{ qualimap_median_insert_size_min }}
                hidden: True

    qc_checkup_qualimap_chromosome_stats:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_qualimap_chromosome_stats"
        section_name: "Qualimap - Chromosome stats"
        description: 'Quick summary chromosome-level coverage info using Qualimap results. See <a href="#qualimap">QualiMap</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "linegraph"
        pconfig:
            id: qc_checkup_qualimap_chromosome_stats
            ymin: 0
            ymax: 100
            categories: True
            ylab: "Coverage (X)"
            extra_series:
                name: "Minimum required"
                data: [[0, {{ qualimap_mean_coverage_min }}], [21, {{ qualimap_mean_coverage_min }}], [22, {{ qualimap_mean_coverage_min / 2 }}], [23, {{ qualimap_mean_coverage_min / 2}}]]
                dashStyle: "Dash"
                showInLegend: False
                color: "PaleVioletRed"

    qc_checkup_picard:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_picard"
        section_name: "Picard"
        description: 'TODO: Quick summary of picard-AlignmentSummaryMetrics results. See <a href="#qualimap">QualiMap</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "Qualimap - Overall stats - QC checkup"
            only_defined_headers: False
            scale: "Blues"
        headers:
            PCT_PF_READS_ALIGNED_val:
                min: {{ picard_asm_PCT_PF_READS_ALIGNED_min }}
                max: {{ picard_asm_PCT_PF_READS_ALIGNED_max }}
                hidden: True
            PF_HQ_ALIGNED_Q20_BASES_val:
                min: {{ picard_asm_PF_HQ_ALIGNED_Q20_BASES_min }}
                hidden: True
            PCT_ADAPTER_val:
                min: {{ picard_asm_PCT_ADAPTER_min }}
                max: {{ picard_asm_PCT_ADAPTER_max }}
                hidden: True
            PCT_CHIMERAS_val:
                min: {{ picard_asm_PCT_CHIMERAS_min }}
                max: {{ picard_asm_PCT_CHIMERAS_max }}
                hidden: True
            Q30_BASES_val:
                min: {{ picard_qym_Q30_BASES_min }}
                hidden: True
            perc_Q30_BASES_val:
                min: {{ picard_qym_perc_Q30_BASES_min }}
                hidden: True

    qc_checkup_bcftools_stats:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_bcftools_stats"
        section_name: "Bcftools stats"
        description: 'Quick summary of Bcftools-stats results. See <a href="#bcftools">Bcftools</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "Bcftools stats - QC checkup"
            only_defined_headers: False
            scale: "Blues"
        headers:
            number_of_records_val:
                min: {{ bcftools_stats_number_of_records_min }}
                max: {{ bcftools_stats_number_of_records_max }}
                hidden: True
            number_of_SNPs_val:
                min: {{ bcftools_stats_number_of_SNPs_min }}
                max: {{ bcftools_stats_number_of_SNPs_max }}
                hidden: True
            number_of_indels_val:
                min: {{ bcftools_stats_number_of_indels_min }}
                max: {{ bcftools_stats_number_of_indels_max }}
                hidden: True
            perc_snps_val:
                min: {{ bcftools_stats_perc_snps_min }}
                max: {{ bcftools_stats_perc_snps_max }}
                hidden: True
            perc_indels_val:
                min: {{ bcftools_stats_perc_indels_min }}
                max: {{ bcftools_stats_perc_indels_max }}
                hidden: True
            tstv_val:
                min: {{ bcftools_stats_tstv_min }}
                max: {{ bcftools_stats_tstv_max }}
                hidden: True
            heterozygosity_ratio_val:
                min: {{ bcftools_stats_heterozygosity_ratio_min }}
                hidden: True

    qc_checkup_verifybamid:
        parent_id: "cgds_qc_checkup"
        id: "qc_checkup_verifybamid"
        section_name: "VerifyBAMID"
        description: 'Quick summary of VerifyBAMID results. See <a href="#verifybamid-1">VerifyBAMID</a> section below for detailed results.'
        file_format: "yaml"
        plot_type: "table"
        pconfig:
            table_title: "VerifyBAMID - QC checkup"
            only_defined_headers: False
            scale: "Blues"
        headers:
            FREEMIX_val:
                min: {{ verifybamid_freemix_min }}
                max: {{ verifybamid_freemix_max }}
                hidden: True

# define file pattern for custom configs
sp:
    qc_checkup_overall_summary:
        fn: "qc_checkup_overall_summary.yaml"
    qc_checkup_fastqc:
        fn: "qc_checkup_fastqc.yaml"
    qc_checkup_fastq_screen:
        fn: "qc_checkup_fastq_screen.yaml"
    qc_checkup_qualimap_overall:
        fn: "qc_checkup_qualimap_overall.yaml"
    qc_checkup_picard:
        fn: "qc_checkup_picard.yaml"
    qc_checkup_qualimap_chromosome_stats:
        fn: "qc_checkup_qualimap_chromosome_stats.yaml"
    qc_checkup_bcftools_stats:
        fn: "qc_checkup_bcftools_stats.yaml"
    qc_checkup_verifybamid:
        fn: "qc_checkup_verifybamid.yaml"
